* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: {
    family: system-ui, sans-serif;
  }
}

body {
  background: rgb(253, 212, 198);
}

ul li {
  list-style-type: none;
}
#wet {
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      flex: 1 1 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      &:first-child > * {
        border-top: 2px dotted blue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &:last-child > * {
        border-bottom: 2px dotted blue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      > * {
        flex: 1 1 calc(100% / 6);
        max-width: calc(100% / 6 - 2rem);
        justify-content: flex-start;
        margin: 0 1rem;
        border-left: 2px dotted blue;
        border-right: 2px dotted blue;
        border-radius: 0px;
      }
    }
  }
}
.moment {
  padding: 1em;
}

#search {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.container {
  > * {
    > :nth-child(2),
    > :nth-child(3) {
      border-left: 2px solid red;
      border-right: 2px solid red;
    }
  }
}
