* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-home: rgb(224, 224, 224);
html {
  font: {
    family: system-ui, sans-serif;
  }
}

body {
  background: $bg-home;
}

ul li {
  list-style-type: none;
}

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#search,
#today {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 1em;
}

#today {
  flex-flow: column wrap;
}
#search {
  input,
  button {
    border: 2px solid blue;
    height: 2rem;
  }
  input {
    padding: 1em;
  }
}
#wet {
  width: 100%;
  display: flex;
  gap: 1em;
  > * {
    flex: 1 1 20%;
  }
}
.moment {
  padding: 1rem;
  border: 1px dotted rgb(16, 161, 153, 0.2);
  border-radius: 10px;
}

svg {
  height: 2rem;
  max-width: 2em;
}
.chart {
  width: 96vw;

  height: 10em;
  // canvas {
  //   min-height: auto;
  // }
}
