* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: {
    family: system-ui, sans-serif;
  }
}

body {
  background: rgb(253, 212, 198);
}

ul li {
  list-style-type: none;
}
#wet {
  .container {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      flex: 1 1 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      > * {
        flex: 1 1 calc(100% / 6);
        max-width: calc(100% / 6);
        justify-content: flex-start;
      }
    }
  }
}
.moment {
  padding: 1em;
}

#search {
  display: flex;
  justify-content: center;
  padding: 1em;
}
